*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .carousel-inner{
    height: 600px;
} */


.container .col1{
    height: 500px;
 
    border: 1px solid red;
}
#mask_caption{
    position: absolute;
    top: 50%;
    transform: translate(-45%);

}
.carousel-caption{
    position: absolute;
    top: 25%;
    transform: translate(-35%);

}
.col1 {
    width: calc(45% - 70px);
    height: 500px;
    border: 1px solid black;
    box-sizing: border-box;
  }

  .col2 {
    height: 500px;
    box-sizing: border-box;
    border-left: 50px solid #224f3a;
    border-bottom: 60px solid transparent;
    width: calc(55% + 70px);
  }

#btn:hover{
    border: 2px solid black;
}
.collection span{
    color: rgb(14, 19, 15);
    font-size-adjust: 19px;
    font-weight: 600;
    padding-left: 5px;
    

}
 .bi .bi-cart-fill{
    display: inline-block!important;
}
@media screen and (max-width: 835px) {
    .card-body{
       width: 100%;
     }
   }